@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $color-bg;
  color: $color-text-primary;
  line-height: 1.5;
}

.loading {
  text-align: center;
  padding: 48px;
  color: $color-text-secondary;
}
